In [ ]:
import pandas as pd
import numpy as np

#### Read CSVs with Pandas

In [ ]:
age_csv = "malaria-deaths-by-age.csv"
gdp_csv = "malaria-prevalence-vs-gdp-per-capita.csv"

age = pd.read_csv(age_csv)
gdp = pd.read_csv(gdp_csv)

gdp.head()

#### Merge data on country, year, and country code

In [ ]:
merged = pd.merge(age, gdp, how='left', on=['country', 'year', 'code'])
merged.head()

In [ ]:
cleaned = merged[['country', 'code', 'year', 'under_5', '5_14', '15_49', '50_69', 'over_70', 'population', 'perc_of_pop_w_malaria', 'gdp_per_capita']]
cleaned.head()

In [ ]:
cleaned.rename(columns={'5_14':'age_5_14', '15_49':'age_15_49', '50_69':'age_50_69'}, inplace=True)
cleaned.head()

#### Add columns of deaths by age groups to get total deaths and insert new column

In [ ]:
deaths = (cleaned.under_5 + cleaned.age_5_14 + cleaned.age_15_49 + cleaned.age_50_69 + cleaned.over_70)
cleaned.insert(8, 'total_deaths', deaths)
cleaned.head()

In [22]:
cleaned.head()

,country,code,year,under_5,age_5_14,age_15_49,age_50_69,over_70,total_deaths,population,perc_of_pop_w_malaria,gdp_per_capita
0,Afghanistan,AFG,1990,118,22,264,33,27,464,13032161.0,2.23,NaN
1,Afghanistan,AFG,1991,123,22,281,33,28,487,14069854.0,2.00,NaN
2,Afghanistan,AFG,1992,126,23,311,35,28,523,15472076.0,1.79,NaN
3,Afghanistan,AFG,1993,155,26,421,45,28,675,17053213.0,1.61,NaN
4,Afghanistan,AFG,1994,199,29,475,49,30,782,18553819.0,1.46,NaN

In [19]:
#save all years merged and cleaned data to CSV
cleaned.to_csv("cleaned.csv", header=True, index=False)

#### Parse for desired years

In [24]:
yr_00 = cleaned['year'] == 2000
yr_08 = cleaned['year'] == 2008
yr_17 = cleaned['year'] == 2017

In [27]:
cleaned_00 = cleaned[yr_00]
cleaned_08 = cleaned[yr_08]
cleaned_17 = cleaned[yr_17]

cleaned_17.head()

,country,code,year,under_5,age_5_14,age_15_49,age_50_69,over_70,total_deaths,population,perc_of_pop_w_malaria,gdp_per_capita
27,Afghanistan,AFG,2017,138,50,919,84,29,1220,NaN,0.67,1804.0
55,Albania,ALB,2017,0,0,0,0,0,0,NaN,0.00,11803.0
83,Algeria,DZA,2017,0,0,4,1,1,6,NaN,0.01,13914.0
111,American Samoa,ASM,2017,0,0,0,0,0,0,NaN,0.00,NaN
139,Andean Latin America,NaN,2017,1,1,8,4,4,18,NaN,0.26,NaN

In [28]:
#Save each years' data to CSV
cleaned_00.to_csv("cleaned_00.csv", header=True, index=False)

In [29]:
cleaned_08.to_csv("cleaned_08.csv", header=True, index=False)

In [30]:
cleaned_17.to_csv("cleaned_17.csv", header=True, index=False)

#### Concat the three desired years

In [31]:
years = [cleaned_00, cleaned_08, cleaned_17]

In [33]:
cleaned_2000_2008_2017 = pd.concat(years)
cleaned_2000_2008_2017.tail()

,country,code,year,under_5,age_5_14,age_15_49,age_50_69,over_70,total_deaths,population,perc_of_pop_w_malaria,gdp_per_capita
6355,Western Sub-Saharan Africa,NaN,2017,220405,24419,49204,36018,17477,347523,NaN,14.53,NaN
6383,World,OWID_WRL,2017,354294,54342,108969,71239,30982,619826,NaN,1.95,15469.0
6411,Yemen,YEM,2017,0,0,5,1,1,7,NaN,1.23,NaN
6439,Zambia,ZMB,2017,2415,359,1148,572,178,4672,NaN,11.19,3689.0
6467,Zimbabwe,ZWE,2017,398,139,99,32,18,686,NaN,1.41,1900.0

In [34]:
#Save concat data to CSV
cleaned_2000_2008_2017.to_csv("cleaned_2000_2008_2017.csv", header=True, index=False)